{{ template "base" . }}

{{ define "header" }}

<title>{{.Content.Name}} | Forum</title>
<link rel="stylesheet" href="/css/category.css">

{{ end }}

{{ define "body" }}

<h1 class="title">{{.Content.Name}}</h1>

{{ if .Logged }}
<a href="/write" class="write">Create a new post</a>
{{ end }}

<div class="body">
	{{ $length := len .Content.Posts }}
	{{ if eq $length 0 }}
	<p class="empty">Any posts yet.</p>
	{{ else }}
	{{ range .Content.Posts }}
	<a class="card" href="/post?id={{ .Uuid }}">
		<!-- ADD HREF -->
		<div class="card-header">
			<div class="col">
				<p class="card-title">{{ .Title }}</p>
				<p class="date">{{ .Created }}</p>
			</div>
			<div class="col">
				<p class="card-author">{{ .User.Username }}</p>
			</div>
		</div>
		<div class="sep"></div>
		<p class="overview">{{ .Content }}</p>
	</a>
	{{ end }}
	{{ end }}
</div>

{{ end }}