{{ template "base" . }}
{{ define "header" }}

<title>Categories | Forum</title>
<link rel="stylesheet" href="/css/forum.css">

{{ end }}

{{ define "body" }}

<h1 class="title">Categories</h1>

{{ if .Logged }}
<a href="/write?action=create" class="write">Create a new post</a>
{{ end }}

{{ if (eq .Content.Error "") }}

<div class="categories">
	{{ range .Content.Categories }}
	<a class="card" href="/category?id={{ .ID }}">{{ .Name }}</a>
	{{ end }}
</div>

{{ else }}

<p class="error">{{ .Content.Error }}</p>

{{ end }}

{{ end }}