.icon {
    padding-bottom: .5em;
    font-size: 2.7em;
    color: #E79E4F;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
}

.title {
    margin-bottom: 1em;
    color: #E79E4F;
    font-size: 3em;
}
  
.form {
    z-index: 1;
    position: relative;
    padding: 45px;
    max-width: 360px;
    border: 1px solid #A05344;
    border-radius: 10px;
    background: #734046;
    text-align: center;
}
  
.form input {
    margin: 0 0 15px;
    padding: 15px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    background: #A05344;
    font-size: 1rem;
    color: #bfbfbf;
    outline: 0;
	transition: background-color .3s ease;
}

.form input::placeholder{
    color: #bfbfbf;
}
  
.form input:focus {
    background: #bb6f60;
}
  
.form button {
    padding: 15px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    background: #E79E4F;
    font-size: 14px;
    text-transform: uppercase;
    color: #321F28;
    outline: 0;
    transition: all 0.3 ease;
    cursor: pointer;
}
  
.form button:active {
    background: #E79E4F;
}
  
.form span {
    font-size: 75px;
    color: #4b6cb7;
}