body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
}

.title {
	margin-bottom: 30px;
	font-size: 3rem;
	font-weight: 300;
	color: #E79E4F;
}

.write {
	display: block;
	margin: 0 10px 20px;
	padding: 15px 30px;
	border: none;
	border-radius: 10px;
	background-color: #E79E4F;
	font-size: 1.1rem;
	font-weight: 300;
	text-align: center;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	user-select: none;
}

.categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	max-width: 900px;
	height: max-content;
}

.card {
	flex: 1 1 0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	width: 100%;
	min-width: 250px;
	border-radius: 10px;
	background-color: #A05344;
	cursor: pointer;
	user-select: none;
	overflow: hidden;
}

.cat {
	flex-grow: 1;
	padding: 40px 60px;
	font-size: 1.5rem;
	text-align: center;
	text-decoration: none;
	color: #E79E4F;
	transition: background-color .3s ease;
}

.cat:hover {
	background-color: #b76656;
}

.trash {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
	height: 100%;
	border: none;
	border-left: 1px solid #E79E4F;
	background: transparent;
	font-size: 1.2rem;
	color: #E79E4F;
	cursor: pointer;
	transition: background-color .3s ease;
}

.trash:hover {
	background-color: #b76656;
}

.error {
	font-size: 1.5rem;
	color: #FD5D5D;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

.row.between {
	justify-content: space-between;
}

.row.center {
	justify-content: center;
}



/*


POPUP


*/


.hidden {
	display: none !important;
}

.popup-bg {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 100px;
	width: 100%;
	height: 100%;
	background-color: rgba(127, 127, 127, 0.5);
	z-index: 999999;
}

.popup {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 500px;
	height: max-content;
	border-radius: 10px;
	background-color: #734046;
}

.close {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 1.5rem;
	cursor: pointer;
	color: #eee;
	user-select: none;
	transition: filter .3s ease;
}

.close:hover {
	filter: brightness(1.1);
}

.pp-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	width: 100%;
	border-bottom: 1px solid #E79E4F;
}

.pp-title {
	margin-bottom: 10px;
	font-size: 1.5rem;
	font-weight: 300;
	color: #E79E4F;
	user-select: none;
}

.pp-subtitle {
	font-size: 1rem;
	font-weight: 300;
	color: #ccc;
	user-select: none;
}

.row.pp-body {
	display: flex;
	flex-direction: column;
	padding: 30px;
}

.input {
	margin: 0 0 15px;
	padding: 15px;
	width: 100%;
	border: 0;
	border-radius: 5px;
	background: #A05344;
	font-size: 1rem;
	color: #fff;
	outline: 0;
	transition: background-color .3s ease;
}

.input::placeholder {
	color: #fff;
}

.input:focus {
	background: #bb6f60;
}

.btn {
	padding: 15px;
	width: 100%;
	border: 0;
	border-radius: 5px;
	background: #E79E4F;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	color: #321F28;
	outline: 0;
	transition: background-color .3s ease;
	cursor: pointer;
}

.btn:hover {
	background-color: #eaac69;
}