body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
}

.title {
	margin-bottom: 30px;
	font-size: 3rem;
	font-weight: 300;
	color: #E79E4F;
}

.write {
	display: block;
	margin-bottom: 20px;
	padding: 15px 30px;
	border-radius: 10px;
	background-color: #E79E4F;
	font-size: 1.1rem;
	font-weight: 300;
	text-align: center;
	text-decoration: none;
	color: #fff;
	user-select: none;
}

.categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	max-width: 900px;
	height: max-content;
}

.card {
	flex: 1 1 0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	padding: 40px 60px;
	border-radius: 10px;
	background-color: #A05344;
	font-size: 1.5rem;
	text-align: center;
	text-decoration: none;
	color: #E79E4F;
	cursor: pointer;
	user-select: none;
	transition: background-color .3s ease;
}

.card:hover {
	background-color: #b76656;
}

.error {
	font-size: 1.5rem;
	color: #FD5D5D;
}