@import url("https://fonts.googleapis.com/css?family=Rubik");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Rubik", monospace;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  background-color: #321F28;
}