body {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.container {
    margin-bottom: 50px;
    padding: 30px;
    width: 95%;
    max-width: 800px;
    border-radius: 10px;
    border: 1px solid #A05344;
    background: #734046;
}

.topic {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    background: #321F28;
}

.comment {
    padding: 20px;
    border-radius: 10px;
    background: #593747;
}

.comment:not(:last-child) {
    margin-bottom: 30px;
}

.info {
    font-size: 1.2rem;
    color: #E79E4F;
}

.infocmt {
    font-size: 1.1rem;
    color: #eaac69;
}

.content {
    margin: 0 10px;
    padding-top: 10px;
    font-size: 1.1rem;
    color: #eaac69;
}

.cmtcontent {
    margin: 0 10px;
    padding-top: 10px;
    font-size: 1rem;
    color: #ecb478;
}