{{ template "base" . }}
{{ define "header"}}

<title>Profile | Forum</title>
<link rel="stylesheet" href="/css/user/profile.css">

{{ end }}

{{ define "body"}}

<div class="profile">
	<div class="tabs">
		<button class="tab-btn active" onclick="toggleTab('profile')">Profile</button>
		<button class="tab-btn" onclick="toggleTab('settings')">Settings</button>
	</div>

	<!-- Profile -->
	<div class="tab" id="profile">
		<div class="row">
			<p class="username">{{ .Content.Username }}</p>
			{{ if ne .Content.Role "Member" }}
			<span class="role" id="{{ .Content.Role }}">{{ .Content.Role }}</span>
			{{ end }}
		</div>
		<p class="email">{{ .Content.Email }}</p>
		<p class="joined">Joined at: {{ .Content.Joined }}</p>
		<p class="desc">
			{{ .Content.Description}}
		</p>

		<div class="container">
			<div class="header">
				<p class="subtitle">Posts</p>
			</div>

			<div class="body">
				<a class="card">
					<p class="card-title">{Title}</p>
					<p class="date">{dd/MM/YYYY}</p>
				</a>
				<a class="card">
					<p class="card-title">{Title}</p>
					<p class="date">{dd/MM/YYYY}</p>
				</a>
				<a class="card">
					<p class="card-title">{Title}</p>
					<p class="date">{dd/MM/YYYY}</p>
				</a>
				<a class="card">
					<p class="card-title">{Title}</p>
					<p class="date">{dd/MM/YYYY}</p>
				</a>
				<a class="card">
					<p class="card-title">{Title}</p>
					<p class="date">{dd/MM/YYYY}</p>
				</a>
			</div>
		</div>

		<div class="container">
			<div class="header">
				<p class="subtitle">Comments</p>
			</div>

			<div class="body">
				<a class="card">
					<p class="card-title">{Title}</p>
					<p class="date">{dd/MM/YYYY}</p>
				</a>
				<a class="card">
					<p class="card-title">{Title}</p>
					<p class="date">{dd/MM/YYYY}</p>
				</a>
				<a class="card">
					<p class="card-title">{Title}</p>
					<p class="date">{dd/MM/YYYY}</p>
				</a>
				<a class="card">
					<p class="card-title">{Title}</p>
					<p class="date">{dd/MM/YYYY}</p>
				</a>
				<a class="card">
					<p class="card-title">{Title}</p>
					<p class="date">{dd/MM/YYYY}</p>
				</a>
			</div>
		</div>

	</div>

	<!-- Settings -->
	<div class="tab hidden" id="settings">
		<p class="title">Settings</p>
		<form method="POST" class="row">
			<p class="subtitle">Change Username</p>
			<p class="error hidden" id="username"></p>
			<input type="text" name="username" class="input" placeholder="Current username" required>
			<input type="text" name="newusername" class="input" placeholder="New username" required>
			<input type="password" name="passwd" class="input" placeholder="Type your password" required>
			<input type="hidden" name="form" value="username">
			<input type="submit" class="btn" value="Save">
		</form>
		<div class="sep"></div>
		<form method="POST" class="row">
			<p class="subtitle">Change Email</p>
			<p class="error hidden" id="email"></p>
			<input type="email" name="oldemail" class="input" placeholder="Current email" required>
			<input type="email" name="newemail" class="input" placeholder="New email" required>
			<input type="email" name="confemail" class="input" placeholder="Confirm new email" required>
			<input type="password" name="passwd" class="input" placeholder="Type your password" required>
			<input type="hidden" name="form" value="email">
			<input type="submit" class="btn" value="Save">
		</form>
		<div class="sep"></div>
		<form method="POST" name="password" class="row">
			<p class="subtitle">Change Password</p>
			<p class="error hidden" id="password"></p>
			<input type="password" name="oldpswd" class="input" placeholder="Current password" required>
			<input type="password" name="newpswd" class="input" placeholder="New password" required>
			<input type="password" name="confpswd" class="input" placeholder="Confirm password" required>
			<input type="hidden" name="form" value="password">
			<input type="submit" class="btn" value="Save">
		</form>
		<p class="danger" data-text="Danger Zone"></p>
		<form method="POST" class="row">
			<button class="btn" type="submit">Delete Account</button>
		</form>
	</div>
</div>
<span id="error" class="hidden">{{ .Error }}</span>

<script src="/js/user/profile.js"></script>

{{ end }}