{{ define "header"}}

<title>Profile | Forum</title>
<link rel="stylesheet" href="/css/user/profile.css">

{{ end }}

{{ define "body"}}

<div class="profile">
	<div class="tabs">
		<button class="tab-btn active" onclick="toggleTab('profile')">Profile</button>
		<button class="tab-btn" onclick="toggleTab('settings')">Settings</button>
	</div>

	<!-- Profile -->
	<div class="tab" id="profile">
		<div class="row">
			<p class="username">{{ .Username }}</p>
			{{ if ne .Role "Member" }}
			<span class="role" id="{{ .Role }}">{{ .Role }}</span>
			{{ end }}
		</div>
		<p class="email">{{ .Email }}</p>
		<p class="joined">Joined at: {{ .Joined }}</p>
		<p class="desc">
			{{ .Description}}
		</p>

		<div class="container">
			<div class="header">
				<p class="subtitle">Posts</p>
			</div>

			<div class="body">
				<a class="card">
					<p class="card-title">{Title}</p>
					<p class="date">{dd/MM/YYYY}</p>
				</a>
				<a class="card">
					<p class="card-title">{Title}</p>
					<p class="date">{dd/MM/YYYY}</p>
				</a>
				<a class="card">
					<p class="card-title">{Title}</p>
					<p class="date">{dd/MM/YYYY}</p>
				</a>
				<a class="card">
					<p class="card-title">{Title}</p>
					<p class="date">{dd/MM/YYYY}</p>
				</a>
				<a class="card">
					<p class="card-title">{Title}</p>
					<p class="date">{dd/MM/YYYY}</p>
				</a>
			</div>
		</div>

		<div class="container">
			<div class="header">
				<p class="subtitle">Comments</p>
			</div>

			<div class="body">
				<a class="card">
					<p class="card-title">{Title}</p>
					<p class="date">{dd/MM/YYYY}</p>
				</a>
				<a class="card">
					<p class="card-title">{Title}</p>
					<p class="date">{dd/MM/YYYY}</p>
				</a>
				<a class="card">
					<p class="card-title">{Title}</p>
					<p class="date">{dd/MM/YYYY}</p>
				</a>
				<a class="card">
					<p class="card-title">{Title}</p>
					<p class="date">{dd/MM/YYYY}</p>
				</a>
				<a class="card">
					<p class="card-title">{Title}</p>
					<p class="date">{dd/MM/YYYY}</p>
				</a>
			</div>
		</div>

	</div>

	<!-- Settings -->
	<div class="tab hidden" id="settings">
		<p class="title">Settings</p>
		<form method="POST" class="row">
			<p class="subtitle">Change Username</p>
			<input type="text" name="username" class="input" placeholder="Current username" required>
			<input type="text" name="newusername" class="input" placeholder="New username" required>
			<input type="password" name="psswd" class="input" placeholder="Type your password" required>
			<input type="submit" class="btn" value="Save">
		</form>
		<div class="sep"></div>
		<form method="POST" class="row">
			<p class="subtitle">Change Email</p>
			<input type="email" name="oldemail" class="input" placeholder="Current email" required>
			<input type="email" name="newemail" class="input" placeholder="New email" required>
			<input type="email" name="oldemail" class="input" placeholder="Confirm new email" required>
			<input type="password" name="psswd" class="input" placeholder="Type your password" required>
			<input type="submit" class="btn" value="Save">
		</form>
		<div class="sep"></div>
		<form method="POST" class="row">
			<p class="subtitle">Change Password</p>
			<input type="password" name="oldpswd" class="input" placeholder="Current password" required>
			<input type="password" name="newpswd" class="input" placeholder="New password" required>
			<input type="password" name="confpswd" class="input" placeholder="Confirm password" required>
			<input type="submit" class="btn" value="Save">
		</form>
		<p class="danger" data-text="Danger Zone"></p>
		<form method="POST" class="row">
			<button class="btn" type="submit">Delete Account</button>
		</form>
	</div>
</div>

<script src="/js/user/tabs.js"></script>

{{ end }}