{{ define "header"}}

<title>Register | Forum</title>
<link rel="stylesheet" href="/css/user/register.css">

{{ end }}

{{ define "body"}}

<form class="form">
	<i class="icon fas fa-user-plus"></i>
	<input type="text" name="username" placeholder="Username" required autocomplete="off" />
	<input type="email" id="email" placeholder="Email" required autocomplete="off" />
	<input type="email" id="confemail" placeholder="Confirm Email" required autocomplete="off" />
	<input type="password" id="passwd" placeholder="Password" required autocomplete="off" />
	<input type="password" id="confpasswd" placeholder="Confirm Password" required autocomplete="off" />
	<button type="submit" id="button">Sign up</button>
	<span class="error" id="error"></span>
</form>

<script type="text/javascript" src="../js/user/confirm.js"></script>
{{ end }}