{{ define "header"}}

<title>Register | Forum</title>
<link rel="stylesheet" href="/css/user/register.css">

{{ end }}

{{ define "body"}}

<form class="form">
	<i class="icon fas fa-user-plus"></i>
	<input type="email" name="username" placeholder="Username" required />
	<input type="email" name="email" placeholder="Email" required />
	<input type="email" name="confemail" placeholder="Confirm Email" required />
	<input type="password" name="passwd" placeholder="Password" required />
	<input type="password" name="confpasswd" placeholder="Confirm Password" required />
	<button>Sign up</button>
</form>

{{ end }}