{{ template "base" . }}

{{ define "header" }}

<title>Admin | Forum</title>
<link rel="stylesheet" href="/css/admin/admin.css">

{{ end }}

{{ define "body" }}

<div class="container">
    <div class="tabs">
        <span class="tab-btn active" onclick="toggleTab('stats');">Stats</span>
        <span class="tab-btn" onclick="toggleTab('users');">Users</span>
        <span class="tab-btn" onclick="toggleTab('reports');">Reports</span>
    </div>

    <!-- Stats -->
    <div class="tab" id="stats">
        <div class="nbrSignin">
            <h1 class="signinTitle">Number of sign-in : </h1>
            <p class='counter-signin'>80</p>
        </div>
    </div>

    <!-- User -->
    <div class="tab hidden" id="users">
        <a class="card" href="/post?id= Uuid ">
            <!-- ADD HREF -->
            <div class="card-header">
                <div class="col">
                    <p class="card-title">Salope</p>
                    <div class="date"> XX-XX-XXXX</div>
                    <div class="btn-edit">
                        <i class="fa-solid fa-pen"></i>
                    </div>
                    <div class="btn-delete">
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                </div>
            </div>
        </a>
    </div>



    <!-- Categories -->
    <div class="tab hidden" id="reports">
        <div class="container">
			<div class="header">
				<p class="subtitle">Comments</p>
			</div>

			<div class="body">
				{{ $length := len .Content.Comments }}
				{{ if eq $length 0 }}
				<p class="empty">Any comments yet.</p>
				{{ else }}
				{{ range .Content.Comments }}
				<a class="card" href="/post?id={{ .PostID.ID }}">
					<p class="card-title">{{ .Content }}</p>
					<p class="date">{{ .CreationDate }}</p>
				</a>
				{{ end }}
				{{ end }}
			</div>
		</div>
            
    <script src="/js/user/profile.js"></script>

    {{ end }}