{{ template "base" . }}

{{ define "header" }}

<title>Admin | Forum</title>
<link rel="stylesheet" href="/css/admin/admin.css">

{{ end }}

{{ define "body" }}

<div class="container">
	<div class="tabs">
		<span class="tab-btn active" onclick="toggleTab('stats');">Stats</span>
		<span class="tab-btn" onclick="toggleTab('users');">Users</span>
		<span class="tab-btn" onclick="toggleTab('reports');">Reports</span>
	</div>

	<!-- Stats -->
	<div class="tab" id="stats">
		<div class="stat">
			<span class="stat-title" style="margin-bottom: 10px;">Globals</span>
			<div class="stat-row">
				<div class="stat-col">
					<p class="col-title">Users</p>
					<div class="grid-row">
						<div class="grid-col">
							<p class="col-value">Total</p>
							<p class="col-value">Admins</p>
							<p class="col-value">Mods</p>
							<p class="col-value">Members</p>
						</div>
						<div class="grid-col">
							<p class="col-value">{{ .Content.Stats.Users.Total }}</p>
							<p class="col-value">{{ .Content.Stats.Users.Admins }}</p>
							<p class="col-value">{{ .Content.Stats.Users.Mods }}</p>
							<p class="col-value">{{ .Content.Stats.Users.Members }}</p>
						</div>
					</div>
				</div>
				<div class="stat-col">
					<p class="col-title">Forum</p>
					<div class="grid-row">
						<div class="grid-col">
							<p class="col-value">Categories</p>
							<p class="col-value">Posts</p>
							<p class="col-value">Comments</p>
							<p class="col-value">&nbsp;</p>
						</div>
						<div class="grid-col">
							<p class="col-value">{{ .Content.Stats.Forum.Categories }}</p>
							<p class="col-value">{{ .Content.Stats.Forum.Posts }}</p>
							<p class="col-value">{{ .Content.Stats.Forum.Comments }}</p>
							<p class="col-value">&nbsp;</p>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="stat">
			<span class="stat-title">Users Inscription</span>
			<canvas id="inscrChart"></canvas>
		</div>
		<div class="stat">
			<span class="stat-title">Categories</span>
			<canvas id="categoriesChart"></canvas>
		</div>
		<div class="stat">
			<span class="stat-title">Categories Activity</span>
			<canvas id="catActChart"></canvas>
		</div>
	</div>

	<!-- User -->
	<div class="tab hidden" id="users">
		<div class="tab-header">
			<div class="search-group">
				<input type="text" class="search-input" id="searchbar" placeholder="Search...">
				<button class="search-btn" onclick="search()">
					<i class="fa fa-search"></i>
				</button>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col">
						<div class="username">
							<p class="name">Username</p>
							<p class="role" id="Admin">Admin</p>
						</div>
						<p class="email">Email</p>
					</div>
					<div class="col">
						<p class="date">Creation Date</p>
						<p class="date">Last Seen</p>
					</div>
				</div>
				<p class="bio">Biography</p>
			</div>
			<div class="action">
				<a href="/admin/profile?id=1" class="nav-btn primary">Edit</a>
				<a href="/admin/delete?id=9999" class="nav-btn primary">Delete</a>
				<a href="/admin/posts?id=1" class="nav-btn primary">View posts</a>
				<a href="/admin/comments?id=1" class="nav-btn primary">View comments</a>
			</div>
		</div>
	</div>

	<!-- Reports -->
	<div class="tab hidden" id="reports">
		<div class="list">
			<div class="header">
				<p class="subtitle">Users</p>
			</div>

			<div class="body">
				<p class="empty">Any comments yet.</p>
				<div class="card">
					<p class="card-title">Fuck Html and Css</p>
					<p class="date">XX-XX-XXXX</p>
				</div>
			</div>
		</div>
		<div class="list">
			<div class="header">
				<p class="subtitle">Posts</p>
			</div>

			<div class="body">
				<p class="empty">Any comments yet.</p>
				<a class="card">
					<p class="card-title">Fuck Html and Css</p>
					<p class="date">XX-XX-XXXX</p>
				</a>
			</div>
		</div>
		<div class="list">
			<div class="header">
				<p class="subtitle">Comments</p>
			</div>

			<div class="body">
				<p class="empty">Any comments yet.</p>
				<a class="card">
					<p class="card-title">Fuck Html and Css</p>
					<p class="date">XX-XX-XXXX</p>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- DATA -->
<div id="data" class="hidden">
	<div>
		{{ range .Content.Stats.Categories }}
		<div class="data-category">
			<p>{{ .Name }}</p>
			<p>{{ .Count }}</p>
		</div>
		{{ end }}
	</div>
	<div>
		{{ range .Content.Stats.CatActivities }}
		<div class="data-catactivities">
			<p>{{ .Name }}</p>
			<p>{{ .Activity }}</p>
		</div>
		{{ end }}
	</div>
	<div>
		{{ range .Content.Stats.Inscriptions }}
		<div class="data-inscription">
			<p>{{ .Month }}</p>
			<p>{{ .Count }}</p>
		</div>
		{{ end }}
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<script src="/js/user/profile.js"></script>
<script src="/js/admin.js"></script>

{{ end }}