{{ define "header" }}

<title>Categories | Forum</title>
<link rel="stylesheet" href="/css/categories.css">

{{ end }}

{{ define "body" }}

<!-- If any query -->
<h1 class="title">Categories</h1>
<div class="categories">
	<a class="card">Life</a>
	<a class="card">Video games</a>
	<a class="card">Dev</a>
	<a class="card">NSFW</a>
</div>

<!-- If query == category -->
<!-- <h1 class="title hidden">{Category name}</h1>
<div class="list hidden">
	<a class="post">
		<p class="post-title">{Post title}</p>
		<p class="date">Posted at {date}</p>
		<p class="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
			been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
			and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
			into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
			release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
			software like Aldus PageMaker including versions of Lorem Ipsum.</p>
	</a>
</div> -->

<!-- If query != category -->
<!-- <h1 class="error-title hidden">Error</h1>
<p class="error hidden">Any category found with the given name</p>
 -->
{{ end }}