{{ define "header" }}

<title>POST NAME | Forum</title>
<link rel="stylesheet" href="/css/post.css">

{{ end }}

{{ define "body" }}

<div class="container">
    <div class="topic">
        <div class="info">post by PSEUDO on XX.XX.XXXX</div>
    </div>
    <div class="comment">
        <div class="infocmt">post by PSEUDO on XX.XX.XXXX</div>
    </div>
    <div class="comment">
        <div class="infocmt">post by PSEUDO on XX.XX.XXXX</div>
    </div>
    <div class="comment">
        <div class="infocmt">post by PSEUDO on XX.XX.XXXX</div>
    </div>
    </div>
</div>

{{ end }}