body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
}

.container {
    display: flex;
    margin-bottom: 35px;
    width: 95%;
    max-width: 900px;
    border: 1px solid #A05344;
    border-radius: 10px;
    background-color: #734046;
    overflow: hidden;
}

/* Tabs Menu */

.tabs {
    display: flex;
    flex-direction: column;
    width: 200px;
    border-right: 1px solid #af6617;
}

.tab-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    border: none;
    border-bottom: 1px solid #af6617;
    background-color: transparent;
    font-size: 1.3rem;
    font-weight: 300;
    color: #af6617;
    cursor: pointer;
    transition: background-color .3s ease, color .3s ease;
}

.tab-btn:not(.active):hover {
    background-color: #82484f;
    color: #e18726;
}

.tab-btn.active {
    background-color: #925159;
    color: #E79E4F;
}

@media screen and (max-width: 768px) {
    .profile {
        flex-direction: column;
    }

    .tabs {
        width: 100%;
        border-right: none;
    }
}



/* 
	TABS
*/
.hidden {
    display: none !important;
}

.tab {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    height: 100%;
}

.sep {
    display: block;
    margin: 20px 0;
    width: 100%;
    height: 1px;
    background-color: #A05344;
}